{% extends 'base.html' %} 
{% block content %}
<div>
    <h3>This is the page for {{user.username}}</h3>
    <a class="button is-dark" href="{% url 'patient_create' %}">Add Patient</a>
    <form method="get">
    <div class="control">
        <input class="input" style="max-width: 150px;" type="text" name="lastname" placeholder="lastname" />
    </div>
    <div class="control">
        <input class="button is-dark" type="submit" value="Search" />
    </div>
    <a class="button is-dark" href="{% url 'patient' %}">Clear Search</a>
    </form>
    <div>
        <table style="padding: 20px;">
            <thead>
                <tr>
                    <th>Patient Name</th>
                    <th>Enthicity</th>
                    <th>DOB</th>
                </tr>
            </thead>
            <tbody>
                {% for p in patient %}
                    <tr>
                        <td>{{p.firstname}} {{p.lastname}}</td>
                        <td>{{p.ethnicity}}</td>
                        <td>{{p.dob}}</td>
                    </tr>
                </a>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}