{% extends "base.html" %}
{% block content %} 
    {{ patient }}
    <h5>{{patient.lastname}}, {{patient.firstname}}</h5>
    <ul class="tabs" data-tabs="tabs">
        <li class="active"><a href="?tab=history">History</a></li>
        <li><a href="?tab=allegries">Allegries</a></li>
        <li><a href="?tab=condition">Condition</a></li>
        <li><a href="?tab=labresults">Lab Results</a></li>
        <li><a href="?tab=notes">Notes</a></li>
    </ul>
    <div id="my-tab-content" class="tab-content">
        {% for record in patient.records_set.all %}
        {% if tab == "history" %}
        <div class="active" id="history">
            <li>{{record.history}}</li>
        </div>
        {% elif tab == "allegries" %}
        <div id="allergies">
            <li>{{record.allegries}}</li>
        </div>
        {% elif tab == "condition" %}
        <div id="condition">
            <li>{{record.condition}}</li>
        </div>
        {% elif tab == "labresults" %}
        <div id="labresults">
            <li>{{record.labresults}}</li>
        </div>
        {% elif tab == "notes" %}
        <div id="notes">
            <li>{{record.notes}}</li>
        </div>
        {% endif %}

        {% endfor %}
        <form action="{% url 'patient_details_update' patient.pk %}"method="post">
            {% csrf_token %} 
            <label for="field">Choose a field:</label>
            <select id="field" name="field">
                <option value="history">History</option>
                <option value="allegries">Allegries</option>
                <option value="condition">Condition</option>
                <option value="labresults">Lab Results</option>
                <option value="notes">Notes</option>
            </select>
            <label for="fieldValue">Enter text:</label>
            <input type="text" name="fieldValue">
            <button class="button is-dark">Submit</button>
        </form>
    </div>
{% endblock %}