{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row" style="gap: 20px; margin-top: 20px;">
        <a class="button is-dark col-md-2" href="{% url 'patient_create' %}">Add Patient</a>
        <form class="row" style="gap: 20px;" method="get">
            <div class="control">
                <input class="input col-sm-" style="max-width: 150px;" type="text" name="lastname" placeholder="lastname" />
            </div>
            <div class="control">
                <input class="button is-dark col-sm-" type="submit" value="Search" />
            </div>
            <a class="button is-dark col-sm-" href="{% url 'patient' %}">Clear Search</a>
        </form>
    </div>
    <div class="table" style="margin-top: 20px;">
        <table>
            <thead>
                <tr>
                    <th>Patient Name</th>
                    <th>Enthicity</th>
                    <th>DOB</th>
                </tr>
            </thead>
            <tbody>
                {% for p in patient %}
                <tr>
                    <td> <a href="{% url 'patient_details' p.pk%}">{{p.firstname}} {{p.lastname}}</td></a>
                    <td>{{p.ethnicity}}</td>
                    <td>{{p.dob}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}