{% extends "base.html" %}
{% block content %} 
    {{ patient }}
    <h5>{{patient.lastname}}, {{patient.firstname}}</h5>
    <ul class="tabs" data-tabs="tabs">
        <li class="active"><a href="?tab=history">History</a></li>
        <li><a href="?tab=allegries">Allegries</a></li>
        <li><a href="?tab=condition">Condition</a></li>
        <li><a href="?tab=labresults">Lab Results</a></li>
        <li><a href="?tab=notes">Notes</a></li>
    </ul>
        {% for record in patient.records.all%}
    <div id="my-tab-content" class="tab-content">
        <div class="active" id="history">
            <p>{{records.history}}</p>
        </div>
        <div id="allergies">
            <p>{{records.allergies}}</p>
        </div>
        <div id="condition">
            <p>{{records.notes}}</p>
        </div>
    </div>
        {% endfor %}
{% endblock %}