{% extends "base.html" %}
{% block content %} 
    {{ patient }}
    <h5>{{patient.lastname}}, {{patient.firstname}}</h5>
    <ul class="tabs" data-tabs="tabs">
        <li class="active"><a href="?tab=history">History</a></li>
        <li><a href="?tab=allegries">Allegries</a></li>
        <li><a href="?tab=condition">Condition</a></li>
        <li><a href="?tab=labresults">Lab Results</a></li>
        <li><a href="?tab=notes">Notes</a></li>
    </ul>
    <div id="my-tab-content" class="tab-content">
        {% for record in patient.records_set.all %}
        {% if tab == "history" %}
        <div class="active" id="history">
            <p>{{record.history}}</p>
        </div>
        {% elif tab == "allegries" %}
        <div id="allergies">
            <p>{{record.allegries}}</p>
        </div>
        {% elif tab == "condition" %}
        <div id="condition">
            <p>{{record.condition}}</p>
        </div>
        {% elif tab == "labresults" %}
        <div id="labresults">
            <p>{{record.labresults}}</p>
        </div>
        {% elif tab == "notes" %}
        <div id="notes">
            <p>{{record.notes}}</p>
        </div>
        {% endif %}
    </div>
        {% endfor %}
{% endblock %}